* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #414141;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-azul-efeito: #3c92fa;
    --cor-fundo: #00030C;
    --cor-texto: #000000;
    --cor-secundaria: #4d4c4c;
    --cor-botao: #167BF7;
    --cor-botao-hover: #3c92fa;
    --font-familia: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-familia);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0;
}

header {
    background-color: var(--cor-fundo);
}

.artigo {
    padding: 40px;
    max-width: 800px;
    margin: 40px auto;
    background-color: var(--cor-secundaria);
    border-radius: 8px;
    text-align: justify;
}

.artigo h1, .artigo h2 {
    color: var(--cor-fundo);
}

.artigo h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.artigo h2 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 15px;
}

.artigo p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.artigo ul {
    margin-bottom: 20px;
    padding-left: 20px;
}

.artigo li {
    margin-bottom: 10px;
}

footer {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    padding: 20px;
    text-align: center;
}

.artigo-imagem {
    text-align: center;
    margin: 20px 0;
}

.artigo-imagem img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid var(--cinza-secundario);
}

.artigo-texto {
    font-size: 1rem;
    color: var(--cor-de-fundo);
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}

.artigo-voltar {
    display: inline-block;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.artigo-voltar:hover {
    background-color: var(--botao-azul-efeito);
}


@media (min-width: 768px) {
    .artigo h1 {
        font-size: 2.5rem;
    }

    .artigo-texto {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .artigo h1 {
        font-size: 3rem;
    }

    .artigo-texto {
        font-size: 1.4rem;
    }
}
