* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.sidebar {
    background-color: #f3f3f3;
    width: 20%;
    max-width: 300px;
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: 2px 0 5px rgba(250, 197, 197, 0.1);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.div-sidebar-logo {
    text-align: center;
}
.sidebar-logo {
    width: 50%;
    border-radius: 10px;
    margin-top: 20px;
}

.ult-conversas {
    font-size: 80%;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
}

.conversation-list {
    padding: 15px;
    text-align: center;
}
.conversation-list button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #ddd;
    color: #000;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    padding-left: 30px;
}

.conversation-list button:hover {
    background-color: #eee;
}

.config-button {
    padding: 15px;
    text-align: center;
}

.config-button button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.config-button button:hover {
    background-color: #333;
}

.chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #000000;
}

.chatbox {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding: 40px;
    border-radius: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.user {
    justify-self: right;
    align-items: center;
}

.bot {
    justify-self: left;
    align-items: center;
}

.message {
    display: block;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    max-width: 60%;
    border-radius: 20px;
    background-color: #e9e9eb;
}

.message p {
    margin: 0;
}

.div-logo-title {
    display: flex;
}

.chatbox-logo {
    display: inline-flex;
    width: 8%;
    border-radius: 10px;
}

.chatbox-logo.bot {
    width: 5%;
}

.chatbox-title {
    margin-top: 15px;
    display: inline-flex;
    font-size: large;
    margin-left: 10px;
}

.input-container {
    display: flex;
    align-self: flex-start;
    padding: 15px;
    border: none;
    align-items: center;
    position: fixed;
    top: 500px;
    gap: 10px; 
    width: 75%;

}
.input-container input {
    box-sizing: border-box;
    flex-grow: 1;
    border-radius: 40px;
    padding: 15px;
    border: 2px solid #000000;
}

.input-container button {
    display: inline-flex;
    border-radius: 40px;
    padding: 15px;
    border: 2px solid #000000;
    color: #000000;
    cursor: pointer;
}

.input.button button:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        max-width: none;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }

    .chat-container {
        flex-direction: column;
    }

    .chatbox {
        flex-grow: 1;
    }
}
