body{
    font-family:’Poppins’,sans-serif;
}

* {
	margin: 0;
    padding: 0;
}


.colaboradores {
    background-color: black;
    padding: 20px 20px 40px 40px;
    padding-left: 80px;
    justify-content: left;
}

.colaboradores-titulo {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    padding: 24px 0;
    margin-bottom: 20px;
}

.colaboradores-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}

.colaborador-div {
    margin-right: 200px;
    width: 350px;
    height: 650px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 40px;
    gap: 5px;
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}


.colaborador-imagem {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.colaborador-nome {
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size: larger;
    padding: 50px 0;
}

.colaborador-descricao {
    width: 100%;
    font-size: 15px;
    border: 2px solid;
	line-height: 1.5em;
    text-align: justify;
    border-radius: 20px;
    padding: 20px 20px 40px 40px;
}

.colaborador-github {
    text-align: center;
    width: 50px;
}

