:root {
    --text-color: white;
    --card-background-color: white;
    --card-border-radius: 40px;
    --card-padding: 40px;
    --card-gap: 5px;
    --card-width: 390px;
    --card-height: 730px;
    --image-size: 600px;
    --title-font-size: x-large;
    --description-font-size: 15px;
    --gap: 20px;
    --padding-horizontal: 20px;
    --padding-vertical: 40px;
    --grid-gap: 20px; 
    --text-align-center: center;
    --text-align-left: left;
}

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.colaboradores {
    background-color: black;
    padding: var(--gap) var(--padding-horizontal) var(--padding-vertical) var(--padding-horizontal);
    justify-content: var(--text-align-left);
}

.colaboradores-titulo {
    text-align: var(--text-align-center);
    color: var(--text-color);
    font-weight: bolder;
    font-size: var(--title-font-size);
    padding: var(--gap) 0;
    margin-bottom: var(--gap);
}

.colaboradores-todos {
    display: grid;
    grid-template-columns: 1fr; 
    gap: var(--grid-gap);
}

.colaborador-div {
    width: var(--card-width);
    height: var(--card-height);
    display: flex;
    flex-direction: column;
    background-color: var(--card-background-color);
    border-radius: var(--card-border-radius);
    gap: var(--card-gap);
    padding: var(--card-padding);
    text-align: var(--text-align-center);
    margin-left: 40px;
    margin-top: 60px;
    margin-bottom: 60px;

}

.colaborador-imagem {
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    width: 164px;
    height: 220px; 
    size: var(--image-size);
}

.colaborador-nome {
    color: black;
    font-weight: bolder;
    font-size: larger;
    padding: var(--gap) 0;
}

.colaborador-descricao {
    width: 100%;
    font-size: var(--description-font-size);
    border: 2px solid;
    line-height: 1.5em;
    text-align: justify;
    border-radius: 20px;
    padding: var(--gap) var(--padding-horizontal) var(--padding-vertical) var(--padding-horizontal);
}

.colaborador-github {
    text-align: var(--text-align-center);
    width: 50px;
}


@media (min-width: 768px) {
    .colaboradores-todos {
        grid-template-columns: repeat(4, 1fr); 
        gap: 120px; 
    }

    .colaborador-div {
        padding-left: 40px;
        padding-right: 80px;
    }
}
