body{
    font-family:’Poppins’,sans-serif;
}

* {
	margin: 0;
    padding: 0;
}


.colaboradores {
    background-color: black;
    padding: 20px 20px 40px 40px;
}

.colaboradores-titulo {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    padding: 24px 0;
    margin-bottom: 20px;
}

.colaboradores-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content:left;
    align-items: center;
}

.colaborador-div {
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    background-color: white;
    border-radius: 40px;
    gap: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    justify-content: center;
}


.colaborador-imagem {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.colaborador-nome {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: larger;
    padding: 50px 0;
}

.colaborador-descricao {
    width: 90%;
    font-size: 24px;
}

.colaborador-github {
    text-align: center;
    width: 50px;
}

