* {
	margin: 0;
    padding: 0;
}


body{
    font-family:'Poppins',sans-serif;
}


.cabecalho{
	background-color: #FFFFFF;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
	width: 7%;
    border-radius: 10px;
    margin-left: 20px;
}

.cabecalho-lista-item {
    font-weight: bold;
	display: inline-block;
    margin: 0 32px;
    font-size: 20px;
}

.paginas{
    color: black;
    text-decoration: none;
}  

.sobre {
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 40px;
}

.sobre-titulo{
	padding: 24px 0;
}

.sobre-conteudo{
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0 10em;
    width: 100%;
    font-size: 24px;
    text-align: justify;
}

.sobre-texto{
    width: 70%;
}

.localizacao {
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    padding: 24px 0;
    padding-bottom: 20px;
}

footer{
    color: black;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    padding: 24px 0;
}
