* {
	margin: 0;
	padding: 0;
}

:root {
	--branco-principal: #FFFFFF;
	--cinza-secundario: #C0C0C0;
	--botao-azul: #167BF7;
	--cor-de-fundo: #00030C;
	--botao-azul-efeito: #3c92fa;
}

.noticias {
	background-color: var(--cor-de-fundo);
	padding-top: 40px;
	padding-bottom: 80px;
	padding-left: 60px;
	padding-right: 60px;
}

.noticia-1 {
	display: block;
	flex-direction: column;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: var(--branco-principal);
	border-radius: 40px;
}

.noticia-1.imagem {
	display: inline-block;
	width: 1%;
}

.noticia-1.titulo {
	margin-top: 80px;
	font-weight: bold;
    font-size: 2rem;
	padding: 24px 0;
}

.noticia-1.conteudo {
	border: 2px solid;
	line-height: 1.5em;
    font-size: 20px;
    text-align: justify;
}


.noticia-1 button {
	float: inline-end;
	width: 20%;
	background-color: var(--cor-de-fundo);
	border-radius: 4px;
	padding: 1em;
	color: var(--branco-principal);
	text-decoration: none;
	margin-bottom: 1em; 
	font-weight: bold;
}

.noticia-1.texto {
    width: 50%;
}

