.noticias {
	align-items: center;
	background-color: black;
	padding-top: 40px;
	padding-bottom: 40px;
}

.noticia-1 {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	border-radius: 20px;
}

.noticia-1 img {
	width: 25%;
}

.noticia-1.titulo {
	font-weight: bold;
    font-size: 2rem;
	padding: 24px 0;
}

.noticia-1.conteudo {
	border: 1px solid;
	box-sizing: border-box;
    flex-grow: 1;
	line-height: 1.5em;
    font-size: 20px;
    text-align: justify;
}

.noticia-1.texto {
    width: 70%;
}

